
/*BASIC SETTINGS*/
body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  color: white;
}
* {
  box-sizing: border-box;
}
#container {
  max-width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}
.row {
  width: 100%;
}
/*ANIMATIONS*/
@-webkit-keyframes rotate_anim {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(180deg);}
  100%  {transform: rotate(360deg);}
}
@keyframes rotate_anim {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(180deg);}
  100%  {transform: rotate(360deg);}
}
@-webkit-keyframes skew_anim {
  0%   {transform: skew(0deg);}
  50%  {transform: skew(180deg);}
  100%  {transform: skew(360deg);}
}
@keyframes skew_anim {
  0%   {transform: skew(0deg);}
  50%  {transform: skew(180deg);}
  100%  {transform: skew(360deg);}
}

.rotate {
  animation: rotate_anim linear infinite 3s;
  -webkit-animation: rotate_anim linear infinite 3s;
}
.skew {
  animation: skew_anim linear infinite 3s;
  -webkit-animation: skew_anim linear infinite 3s;
}

.grid__item {
  display: inline-block;
  position: relative;;
}
.grid__item__inside {
  transition: background-color 2s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  width: 2px;
  background-color: red;
}
